<h1 class="ui header">Addresses</h1>

<% @addresses.each do |address| %>

  <%= link_to address.full_address, [@location, address] %>
<% end %>

 <%= link_to 'Create New Address', new_location_address_path(@location) %>
 <%= link_to 'Back To Trips', root_path %>
