<h1 class="ui header"><%= @trip.name %> Trip Stops</h1>
 <ul>
  <% @locations.each do |location| %>
    <li>
      <%= link_to location.name, [ @trip, location ]%>
    </li>
    <% end %>
 </ul>

 <%= link_to 'Create New Location', new_trip_location_path(@trip) %>
