<nav>
  <ul>
    <li>
      <%= link_to 'Trips', trips_path, class:'ui black button' %>
    </li>
    <li>
      <%= link_to 'Add Trip', new_trip_path, class:'ui black button' %>
    </li>
  </ul>
</nav>